.footer-container {
  background-color: rgb(44, 43, 43);
  color: #ffffff;
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left-section {
  flex: 1;
  max-width: 40%;
  border-right: 1px solid white;
  padding: 20px;
}

.footer-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-info img {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.footer-right-section {
  flex: 1;
  max-width: 55%;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-links {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.footer-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.footer-nav-links a:hover {
  color: #f1c40f;
}

.footer-contact {
  flex: 1;
  padding-left: 8em;
}

.footer-contact p {
  margin: 10px 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #f1c40f;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left-section,
  .footer-right-section {
    max-width: 100%;
    border-right: none;
    padding: 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links,
  .footer-contact,
  .footer-social {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-contact {
    padding: 0;
  }
  .social-icons {
    justify-content: center;
  }
}
